@import "tailwindcss";

@theme {
  --color-themeyellow: #f5e60d;
  --color-themepurple: #502ec3;
  --color-themewhite: #ffff;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

#icons {
  display: none;
}

@media screen and (max-width: 640px) {
  #icon-box {
    display: none !important;
  }
  #icons {
    display: flex !important;
  }
}
#product-box:hover {
  #icons {
    display: flex !important;
  }
}

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles (default) */
body {
  background-color: #f9fafb;
  color: #18181b;
}

/* Dark mode styles */
.dark body {
  background-color: #18181b;
  color: #f9fafb;
}

.light {
  /* Gray */
  --color-gray-0: #fff;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-blue-100: #e0f2fe;
  --color-blue-700: #0369a1;
  --color-green-100: #dcfce7;
  --color-green-700: #15803d;
  --color-yellow-100: #fef9c3;
  --color-yellow-700: #a16207;
  --color-silver-100: #e5e7eb;
  --color-silver-700: #374151;
  --color-indigo-100: #e0e7ff;
  --color-indigo-700: #4338ca;

  --color-themeyellow: #f5e60d;
  --color-themepurple: #502ec3;

  --color-red-100: #fee2e2;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;

  --backdrop-color: rgba(255, 255, 255, 0.1);

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

  --image-grayscale: 0;
  --image-opacity: 100%;
}

.dark {
  --color-gray-0: #18212f;
  --color-gray-50: #111827;
  --color-gray-100: #1f2937;
  --color-gray-200: #374151;
  --color-gray-300: #4b5563;
  --color-gray-400: #6b7280;
  --color-gray-500: #9ca3af;
  --color-gray-600: #d1d5db;
  --color-gray-700: #e5e7eb;
  --color-gray-800: #f3f4f6;
  --color-gray-900: #f9fafb;

  --color-blue-100: #075985;
  --color-blue-600: #e9a319;
  --color-blue-700: #5e94b7;
  --color-green-100: #166534;
  --color-green-700: #dcfce7;
  --color-yellow-100: #854d0e;
  --color-yellow-700: #fef9c3;
  --color-silver-100: #374151;
  --color-silver-700: #f3f4f6;
  --color-indigo-100: #3730a3;
  --color-indigo-700: #e0e7ff;
  --color-white: #eeee;
  --color-red-100: #fee2e2;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-black: #f9fafb;
  --color-blue-950: #f9fafb;
  --color-themeyellow: #e9a319;
  --color-themepurple: #52357b;
  --color-purple-800: #c4b5fd;
  --color-purple-100: #504969;
  --color-purple-700: #a78bfa;
  --color-themewhite: #2c2c2e;
  --backdrop-color: rgb(15, 11, 11);

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.4);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.3);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.4);

  --image-grayscale: 10%;
  --image-opacity: 90%;
}

.dark select option {
  margin: 40px;
  background: #18181bb7;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
